pandas
numpy<2
lightgbm
fastapi
uvicorn
pydantic
requests
streamlit
plotly
python-dotenv
twelvedata
pyarrow
statsmodels
ruptures
matplotlib
scikit-learn
torch
chronos-forecasting
mlflow==3.12.0
boto3==1.40.46
pandas_market_calendars
